body{
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Arial;
    background-color: black;
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 2rem;
}
#app{
    width: 100%;
    max-width: 960px;
}
#app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#new-book-btn{
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
#book-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}
.book-card{
    background-color: gray;
    color: black;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 160px;
}
.book-title{
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.book-author{
    color: gray;
    margin-bottom: 0.5rem;
}
.book-genre{
    margin-bottom: 0.5rem;
    color: black;
}
.controls{
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
}
.btn{
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
.btn-danger{
    background-color: red;
    color: white;
}
.btn-toggle{
    background-color: rgb(223, 178, 13); 
    color: black;
}
.btn-read{
    background-color: green;
    color: white;
}
dialog{
    border: none;
    border-radius: 8px;
    padding: 0px;
    width: min(480px, 95vw);
}
#book-form{
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
}
#book-form label{
    display: block;
    color: #222;
}
#block-form input[type="text"]{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    margin-top: 0.5rem;
}
.checkbox-label{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #222;
}
.dialog-actions{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}
.dialog-actions button{
    padding: 0.5rem;
    border-radius: 6px;
}