body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 20px;
}
#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header{
    font-size: 3rem;
    padding: 10rem;
}
#book-container{
    display: flex;
    flex-wrap: wrap;
}
#books{
    background-color: rgb(150, 148, 148);
    display:flex;
    flex-direction: column;
    flex:1 0 auto;
    border-radius: 5px;
    height: 10rem;
    width: 10rem;
    padding: 5px;
}
#name, #author, #genre{
    color: black;
    margin: 6px;
}
#delete-book{
    border-radius: 5px;
    margin-top: auto;
    background-color: rgb(255, 48, 48);
}
#add-book{
    background-color: green;
    margin-top: 10rem;
    border-radius: 5px;
    padding: 5px;
}